body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Calculator section {
  background: white;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 10%);
  margin: 20px 0;
  padding: 30px;
}
.logo {
  max-width: 40%;
  display: block;
  margin: 0 auto;
}
.results {
  list-style: none;
}

.btn {
  display: block;
  margin: 0 auto;
}
